* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%);
}
