.wrapper {
    background-color: #c38d9e;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.grid-1 {
    background-color: rgb(236, 209, 209);
    width: 100vw;
    color: white;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.grid1-1 {
    width: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
}
.game-image {
    aspect-ratio: 1/1;
    height: 90%;
    width: 90%;
    opacity: 0.9;
    /* transition: min-width 1s ease-out 100ms; */
    transition: display 1s, width 1s, height 1s, background-color 1s,
        transform 1s;
    z-index: 0;
    object-fit: contain;
}
.play-btn {
    position: absolute;
    opacity: 0;
    top: 50%;
    width: 15%;
    height: 50px;
    left: 50%;
    background-color: crimson;
    border-radius: 20px;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    text-align: center;
}

.grid1-1:hover div.play-btn {
    opacity: 1;
    cursor: pointer;
}
.grid1-1:hover img.game-image {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.grid-2 {
    background-color: rgb(115, 115, 207);
    width: 100vw;
    color: white;
    height: 30vh;
}
.grid-3 {
    background-color: rgb(185, 185, 240);
    width: 100vw;
    color: red;
    height: 20vh;
}
.grid-4 {
    background-color: rgb(214, 224, 152);
    width: 100vw;
    color: red;
    height: 60vh;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}
